[2017-02-13 20:05] tizmagik opened #13 "Export `TrackingPropType`"
Export `TrackingPropType` so that users can do:

[code]

See https://github.com/nytm/wf-project-vi/pull/1185/files#r100883178

[2017-02-13 20:08] tizmagik opened #14 "Use `lodash.merge`"
We currently use Object spread operator `...` to merge tracking contexts. This is a shallow merge, so it won't work for use cases where disparate components are providing different data to the same subkey of the context data.

We should be able to use `lodash.merge` to do the merging instead, which does a recursive deep merge on objects.

[2017-02-13 20:11] tizmagik opened #15 "Allow `options` to accept `dispatchImmediately: Bool`"
Instead of the current convention of firing a `pageDataReady` event when there is a `page` property on the data object, it would be more flexible to accept a `dispatchImmediately` property on the options object (the second parameter that the decorator accepts) to dispatch an event immediately or not. This way we can generalize pageDataReady a bit since it's too specific to how an app works.

[code

[2017-02-14 19:28] #14 closed, assigned to nobody

[2017-02-14 19:38] #13 closed, assigned to nobody

[2017-02-14 20:23] #15 closed, assigned to aneudy1702

[2017-02-17 02:58] tizmagik opened #24 "Bug: @track() on class member methods only gets called once"
There's a bug currently where `@track()` on class member methods only gets called once.

I opened a branch and checked in a failing test case: https://github.com/nytm/nyt-react-tracking/tree/bug-track

cc, @aneudy1702  - This is a blocker for rolling this out beyond just pages in Vi.

A workaround for now is to use `this.props.trackEvent()` provided by putting `@track()` decorator on the entire cl

[2017-02-17 03:23] #24 closed, assigned to nobody

[2017-03-14 20:28] tizmagik opened #25 "Better way to handle pageView events"
Right now in order to attach "one-off" tracking data to handle something like a Page View event, requires the user to supply a `dispatchOnMount()` function. While this works, it becomes increasingly verbose as the number of pages grows. It would be nice to provide a top-level `enrich()` or `process()` (open to better names?) function that takes in the tracking data and dispatches an event. It can

[2017-03-15 19:33] tizmagik opened #26 "Remove default dispatch behavior"
The current default dispatch behavior is specific to the User Hub team. For the majority of use cases, the dispatch function will probably be just a simple `(data) => window.dataLayer.push(data)` which we could eventually provide as the default or as an adapter that's optionally imported out of the box, but I think a good first step would be to remove this default behavior (it would also reduce th

[2017-04-07 14:01] #25 closed, assigned to oziniak

[2017-04-07 18:50] oziniak opened #28 "Multiple options.process behavior"
Currently we encourage to use only one `process` on top level component, by making checks in constructor method of **every** tracking HoC
[code]
Could these checks be performance consuming?

If there are several usages of `options.process` down a component tree desired behavior should be:
- display error message (current behavior)
- child's process should override parent's
- merge return values of

[2017-05-03 18:13] kohlmannj opened #32 "Error when installing via Yarn"
Looks like installing nyt-react-tracking via GitHub using Yarn produces some unexpected results: https://github.com/nytm/wf-project-vi/pull/1860#issuecomment-298986731

Specifically, I found that Yarn installs the `src` folder of the repo, which in turn causes Webpack to resolve files from `src` rather than `build`, leading to the following Webpack errors (copied from [nytm/wf-project-vi#1860](htt

[2017-05-13 03:06] tizmagik opened #36 "Handle sCU() and PureComponents better"
Because of the way the React context API currently works, if somewhere in the component hierarchy there is a `PureComponent` or a component implements `shouldComponentUpdate()` then descendants from that point in the tree may not see context data correctly.

One way around this is to use a library like [react-broadcast](https://github.com/mjackson/react-broadcast) to reliably communicate context d

[2017-05-15 14:34] #26 closed

[2017-05-15 16:17] tizmagik commented on #32
The `modules` field is gone now as of `4.0.0` tag -- maybe give that a shot?

[2017-05-17 02:25] tizmagik commented on #32
This is on npm now, so I think this is no longer an issue. Please re-open if that's not the case.

[2017-05-17 02:25] #32 closed

[2017-06-18 02:16] ev1stensberg opened #41 "Adapt for External Analytics"
Is there any plan to make the API viable for people to integrate with say Google Cloud, Google Analytics or an custom API? Currently in the stages of making an bundler that will act on tracking, and I think that this library could be super-fit for that, if one could export data from the tracking itself

What are your thoughts?

[2017-06-18 05:21] tizmagik commented on #41
Hey thanks for your question! This library is meant to be pretty agnostic to where the data goes, you just need to define a top-level `dispatch` function that determines where it goes. We currently use it to send analytics data to Google Analytics (via pushing the data to `window.dataLayer[]`), but you could have it go anywhere, even through an API call or whatever you need.

Does that make sense?

[2017-06-18 14:28] ev1stensberg commented on #41
Wow, thanks! No further explanation needed, thanks for elaborating!

[2017-06-18 14:28] #41 closed

[2017-07-15 06:09] alloy opened #42 "Handling before/after events"
First of all, this solution looks excellent ✨  At Artsy we were in the process of designing a similar solution, but happy to stop that effort in favour of using yours (both in React and React Native).

One thing that we did include in our design and yours doesn’t seem to have, but please correct me if I overlooked it, is the possibility to send before/after events when the decorated function perfo

[2017-07-16 00:14] tizmagik commented on #42
Hey that sounds very interesting, I hadn't thought of that!

Would be happy to accept a PR, but I'd like to understand the use cases a bit first. Also, are you aware of any trade offs that'd need to be made with this added functionality?

[2017-07-19 16:08] mennenia commented on #42
Hi @tizmagik! Thanks for getting back to us.

The use case involves a function that can either succeed or fail, for example when a user logs in or create an account.

We capture the fact that the user tried to log in (tapped a button), and then a separate track event on whether they managed or not.

When that request fails, it could be for a variety of reasons, e.g. wrong email/password combo, and

[2017-07-19 18:30] tizmagik commented on #42
Hi @mennenia ! Thanks for providing this context, this is helpful.

To be clear, I wouldn't be against adding the ability for react-tracking to be able to handle decorating functions that return Promises. I'd be more than happy to review a PR. My concern would be just that it shouldn't add any unnecessary burden/overhead to how it's used today (in which react-tracking has no knowledge about what t

[2017-07-20 10:56] mennenia commented on #42
Thanks for such a detailed response (and code example)!

This approach is definitely possible, and much in line with a traditional analytics implementation where you can send events as the code performs the actions.

The reason we were hoping to avoid this is that we'd love to separate analytics tracking code from app code dictating behaviour and logic. This is one of the reasons we were looking a

[2017-07-20 10:59] alloy commented on #42
Thanks for the write-ups @mennenia and for the thoughtful responses @tizmagik!

I’ll close this 👍

[2017-07-20 10:59] #42 closed

[2017-07-20 20:40] tizmagik commented on #42
Thanks folks -- just to close the loop here.

That's fair, another approach you might take which is a bit less imperative is to break out the `.then` and `.catch` blocks into separate functions and decorate those:

[code]

Cheers

[2017-08-21 12:00] iddan opened #43 "Allow providing custom default dispatchTrackingEvent"

[2017-08-30 01:56] tizmagik commented on #43
Hey @iddan thanks for creating this issue. Documentation is something that's always tricky to get right, so PRs to improve documentation are always appreciated!

If you have specific questions, or have any ideas on how we can clarify things that are unclear in the documentation now please let me know. Thanks!

[2017-08-30 07:36] iddan commented on #43
It should be explained that decorating a component's class with `@track` means making it's methods trackable and providing default data to them and it is not to actually track the class.

[2017-08-30 14:47] tizmagik commented on #43
Ah, yes good point. Although, there are cases where decorating a class does actually fire off a tracking event (e.g. if your `process` function includes a check for a `page` prop for example). Either way, a PR clarifying that would be welcome. Thanks!

[2017-08-30 16:10] iddan commented on #43
Allow me to suggest a different approach: How about `@track` statements for declaring default values would be through a component called `<TrackingProvider />` (and by that would be aligned with the community, most especially with Redux, Mobx and styled-components` and `@track` on methods will effect the method's class and by that it will reduce boilerplate code and be more clear?

[2017-08-30 17:53] tizmagik commented on #43
Ah, that's an interesting suggestion. I think we had considered a similar interface when we initially wrote this tracking library, however, the underlying principal and design motivation behind the API was that the tracking library should try and "get out of the way" as much as possible -- so that you could "decorate" your app with tracking information as you go and the actual markup/JSX would rem

[2017-08-30 23:55] iddan commented on #43
A very good point about decorating components: But maybe the word `@track` isn't enough self explanatory? Once I'll have some time I will suggest a simpler `@track` method decorator, `<TrackProvider />` API and documentation explaining how to use `@track`. Can't promise it would be fast enough but will try to get to it ASAP. Thank you very much for the fast response and commitment

[2017-08-31 00:20] tizmagik commented on #43
No worries, thanks for your time @iddan -- also keep in mind that since the `@track` decorator is the default export, you could name it whatever you like 😄

[2017-09-19 11:32] alloy opened #44 "TypeScript typings"
Hi!

I seem to recall that when we last spoke you were saying that you may be interested in hosting TypeScript type declarations inside this repository. Is that correct? If not, I’ll just move [our typings](https://github.com/craigspaeth/reaction/pull/1/files#diff-4258c676b4468a5193831f426d8f0ebf) to the [DefinitelyTyped repo](https://github.com/DefinitelyTyped/DefinitelyTyped) instead.

[2017-09-21 14:28] tizmagik opened #46 "Add test for `@track((props, [event]) => {})` signature"
#45 revealed that we're missing a test for this use case/function signature [mentioned in the docs](https://github.com/NYTimes/react-tracking#advanced-usage)

[code]

[2017-09-21 14:31] tizmagik commented on #44
Hey @alloy thanks for this, this would be a very welcome contribution!

I'd totally be up for hosting the TypeScript declarations here in this repo, but I honestly haven't worked with TypeScript before (would like to!). Do you have a branch/fork I could check out and get a feel for?

In the mean time, by all means, feel free to submit to DefinitelyTyped if you'd prefer, of course. 😁

[2017-09-25 21:07] orta commented on #44
WRT testing the types - @lazerwalker did a good job in https://github.com/alexa-js/alexa-app/pull/266 at showing how to add tests for the d.ts

[2017-09-25 21:27] lazerwalker commented on #44
Yep! The relevant bit is if you have a test `ts` file inside your type folder, running `dtslint` on that folder will try to compile your test file and yell at you if it fails, the same as automatically happens in the DT repo.

[2017-09-26 10:11] alloy commented on #44
@lazerwalker @orta Nice one, thanks gents 👍

@tizmagik For now I’ve pushed the typings to DT, as proposed, which includes the ‘tests’ that you can pull and play around with: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/20011. Let me know if you have any questions.

[2017-09-26 10:13] alloy commented on #44
In the meantime, I’ll close this ticket, as we _did_ reach an answer. We can continue to discuss, if necessary, otherwise I’ll just PR the typings and tests to this repo once #45 has been addressed.

[2017-09-26 10:13] #44 closed

[2017-09-26 14:30] tizmagik commented on #46
Done in #45

[2017-09-26 14:30] #46 closed

[2017-09-26 15:12] tizmagik commented on #44
Awesome, thanks everyone. I've merged and released #45 as `v5.0.0` 🎉

I'll have a look at the typings in DT and play around with it, thanks again for that, much appreciated. In the mean time, feel free to open a PR whenever you have some time with the typings and tests now that #45 has landed. Cheers!

[2017-09-28 18:14] tizmagik opened #48 "Docs website"
It would be nice to use [gh-pages](https://pages.github.com/) to put the documentation that's currently completely in the README in a nicer place

[2017-09-28 18:16] tizmagik opened #49 "Submit a failing test case"
Submit a failing test case for a normal usage of the react-tracking API. Note, a failing test case is enough, you don't necessarily need to solve it.

Hint: It's likely possible to do this for #36

[2017-09-28 21:08] jaredpalmer opened #50 "Refactor into a render prop <Tracking render/>"

[2017-09-28 22:53] GeekyShiva commented on #48
you want it to be built in a specific template or hosting the present one directly with some intelligent tweaks will work?

[2017-09-28 22:57] GeekyShiva commented on #48
https://geekyshiva.github.io/react-tracking/

Check this base , do you need some tweaks or this works as this is a simple jeykell implemetation.

Please specify any requirements if you have

[2017-09-28 22:59] tizmagik commented on #50
Hey @jaredpalmer would be happy to accept a PR to support the render prop pattern, however the existing HoC pattern would still need to be supported.

[2017-09-28 23:05] tizmagik commented on #48
Thanks @GeekyShiva that looks good! I would love something similar to https://react-styleguidist.js.org/ but I'm actually not sure what's involved with that. If you do, that would be great, otherwise it looks like what you have there would work well for now. Let me know, thanks!

[2017-09-28 23:41] GeekyShiva commented on #48
hey @tizmagik awesome that you liked the idea, I have something in mind which looks similar to the link that you showed and once Hacktober starts I will make a PR with required changes, will that be ok??

[2017-09-29 00:47] tizmagik commented on #48
Sounds great. Thank you 🙏

[2017-09-29 01:24] GeekyShiva commented on #48
hey, if you don't mind can you please assign this issue to me :)

[2017-09-29 14:35] tizmagik commented on #48
For some reason Github won't let me assign to you, but no worries, it's yours

[2017-09-29 17:02] GeekyShiva commented on #48
thanks :)

[2017-09-30 19:37] GeekyShiva commented on #48
hey @tizmagik , I have made a PR, please review it and merge as i need to check the final results also I have an idea for exactly what you want but need to make major changes in README.md and some other files.

Also take a look at this: http://vinitkumar.me/white-paper/

I can make this website look like the one you sent me with the above-mentioned changes, what are your thoughts?

[2017-09-30 21:05] tizmagik commented on #48
Thanks @GeekyShiva — happy to entertain changes to the README. Do you have a good idea of what would need changing? Happy to review a PR with those changes as well. Thanks!

[2017-09-30 21:13] GeekyShiva commented on #48
For starters, we have to change the way readme is arranged and make it more suitable as per the css of our new Jekyll theme.

Furthermore, we have to make all the typo theme changes in readme

Please review and accept this PR since as of now we can make things working and I can keep on experimenting with further changes

[2017-10-01 06:37] GeekyShiva commented on #48
@tizmagik have you reviewed the PR?

[2017-10-06 12:45] frytyler commented on #49
I'm going to see if I can get something together for this.

[2017-10-13 05:16] tizmagik opened #54 "hoist-non-react-statics"
Since the recommended pattern to use react-tracking is via HoC decorator, we should be good react citizens and [hoist-non-react-statics](https://github.com/mridgway/hoist-non-react-statics).

[2017-10-14 01:30] frytyler commented on #54
On it. PR coming in a minute.

[2017-10-14 03:33] tizmagik commented on #54
Done in #55

[2017-10-14 03:33] #54 closed

[2017-10-14 03:42] frytyler opened #56 "CONTRIBUTING.md"
Just noticed there is no `CONTRIBUTING.md` file to help people get started with the project.

[Kent C Dodds](https://twitter.com/kentcdodds) talks about a great way to incorporate contributing information here: https://github.com/kentcdodds/all-contributors

Even just a simple contributing.md file talking about setup and expectations of contributing would be helpful for anyone getting involved.

[2017-10-16 19:40] tizmagik opened #59 "Dispatch after state updates should be reflected in tracking data"
Failing test case here https://github.com/NYTimes/react-tracking/pull/58 thanks to @tanhauhau

This is a bit of an edge case, but the usage looks natural so as a user of this library I'd expect it to work as is asserted in the test case.

[2017-10-17 18:35] tizmagik commented on #59
Fixed in #60

[2017-10-17 18:35] #59 closed

[2017-10-17 18:51] tizmagik commented on #56
Good call! Posting now

[2017-10-17 18:54] #56 closed

[2017-11-20 22:49] eliseumds commented on #50
@jaredpalmer what kind of API do you have in mind? I've been discussing with workmates the following:

[code]

The *trackingProps* object would have the *onClick* callback, in this case, but it could be anything: *onExpand*, *onClose*, etc. Does it make sense?

[2017-11-20 23:01] jaredpalmer commented on #50
What about tracking on mount?

[2017-11-21 01:27] eliseumds commented on #50
The *Tracking* component takes care of it. It could also inject listeners into the document (scroll, online, deviceorientation), for ex.

[2017-11-21 02:28] jaredpalmer commented on #50
This gets hard to type with flow/ts if you couple the naming of the handler to the event

[2017-11-21 04:45] eliseumds commented on #50
It doesn't necessarily need to be named *onClick*. It could be *callback*, for ex.

[2018-01-10 08:41] Sicria opened #63 "HOC Process does not apply to methods"
I've added a HOC ``@track`` which has a ``process`` and it works great for the ``@track`` on the class, but does not apply to the methods in the class.

I'm using this to validate events before they're sent to the dataLayer and change the case on some certain attributes so it's ideal if this is applied to all events.

[2018-01-22 18:13] tizmagik commented on #63
Thanks for the report @Sicria ! Are you able to create a reproduction case, ideally as a test case as part of the [e2e suite](https://github.com/NYTimes/react-tracking/blob/master/src/__tests__/e2e.test.js)?

[2018-01-26 15:12] tizmagik commented on #63
@Sicria is your use case that you have a `process` function defined on some nested component deep within the app? I think the `process` function is only meant to be defined on the top-level app wrapper, although I think we can consider supporting your use case.

Let me know if you can clarify and/or submit a failing test case and I can look into it more.

[2018-01-31 05:08] Sicria commented on #63
@tizmagik Sorry about the delay.

I've got a container component wrapped around the entire app which has a ``process`` function to modify certain values etc.

Then within the app there's children components which have ``@track`` but no ``process``, when an event is fired from one of these it's not passed to the higher ``process`` function, but if I add a ``process`` function to the child component

[2018-02-09 19:23] khieu opened #64 "Does react-tracking record impression?"
Hello,

I found react-tracking while looking for a solution to track clicks and impressions on a react web application. After some reading it looks like react-tracking handles click events. I want to ask if this library also help record impression events (a part/component of a page shows up on the screen) ? If the library does support that where can I find docs and example ?

Thank you so much for

[2018-02-12 17:41] tizmagik commented on #64
Yes, it's possible to use react-tracking for that, but it's left up to the app to fire off the tracking call since what defines an "impression" varies by app.

For example here's how we're doing impression tracking in one case. This makes use of [react-visibility-sensor](https://www.npmjs.com/package/react-visibility-sensor).

[code]

Hope that helps @khieu !

[2018-03-22 15:44] jakiestfu opened #66 "Different Data Layers"
Hi, NYTimes, Dollar Shave Club here.

How would you go about implementing the W3Cs standard for a digital data layer?

https://www.w3.org/2013/12/ceddl-201312.pdf

[2018-04-03 19:49] tizmagik commented on #66
Hello 👋

I'm not familiar with the digital data layer spec, although from skimming through it I don't see anything in there that couldn't be modelled using react-tracking.

Is there something specific you're not sure how to go about implementing? Happy to help!

[2018-04-03 19:51] tizmagik opened #67 "Support for React 16.3 new Context API"
Add (backwards-compatible) support for the new React 16.3 Context API, https://reactjs.org/blog/2018/03/29/react-v-16-3.html

[2018-04-30 15:37] vijayyadav06 opened #69 "Support for react-router4 and multiple analytics accounts"
Thanks for providing the module. Have two questions -

1. Wondering if react-tracking supports react-router4? We wish to track page view events.
2. Can module support use of multiple simultaneous analytics accounts (say different google analytics accounts)? Useful for sites that has multi-tenants each tracking their own analytics.

[2018-05-17 15:57] BRKalow opened #70 "Expose decorated component"
We're evaluating using this within our application and a talking point came up on testing components that are decorated with `track`. It would be great to have access to the decorated component so it can be tested without having to mock `track`.

`react-dnd` has a pretty cool pattern for this, exposing a `DecoratedComponent` static property: http://react-dnd.github.io/react-dnd/docs-testing.html (

[2018-05-17 19:27] tizmagik commented on #70
Hey @BRKalow great question!

If you're using Jest, I would recommend just mocking `react-tracking` globally. We do this in our codebase via Jest configuration:

[code]

[code]

This way in your tests you don't have to worry about calling `jest.mock('react-tracking')` (it's done globally) and from the test perspective the decorator isn't even there (the mock passes through to the decorated compone

[2018-05-17 22:17] BRKalow commented on #70
This is the approach I was considering, and I think the right one in the end.

As far as testing any non-trivial logic that may exist in a decorator, which is what led me down this path, I think one would be better off defining that logic outside of the decorator and testing it in isolation.

Borrowing your example from the Advanced Usage section of the README:
[code]
Just thinking out loud. 😄

I'

[2018-05-17 22:17] #70 closed

[2018-05-18 17:26] vincentlaucy opened #71 "dispatch to data layer not referenced in window"
Currently process() & dispatch() only take argument data. Does that imply the data layer must be referenced in window? e.g. window. dataLayer

My case is I'm using https://github.com/mobxjs/mobx-react where I would like to put the data layer inside props.rootStore. I don't see a way to have it available inside dispatch, even the react component is a child of the  StoreProvider.  I tried to hack ar

[2018-05-21 14:39] tizmagik commented on #71
Hey @vincentlaucy good question. Are you saying you want to be able to push data to `rootStore` (instead of some global `window.dataLayer[]`)? If so, I think you should be able to push to the `rootStore` with the current API. Would something like this work?

[code]

Then, any component that is a descendant of `<App />` will utilize this dispatch function.

Let me know if I misunderstood your quest

[2018-05-21 16:53] vincentlaucy commented on #71
Thanks for quick response! I took a quick try but got an error abt max. call stack. Seems some quirks about  mobx not playing well with merge() , will investigate a bit more when I have time

[2018-06-13 17:50] dbeaudway opened #74 "Decorator pre-requisites & sending data to analytics library"
Hello,

Thanks for this module -- I've been doing some initial sandboxing in a basic create-react-app and have ran into two questions.

1. I'm having issues adding tracking events via decorators. I tried incorporating the babel decorators plugin but I believe this requires using "npm run eject" and modifying core files. Just curious if you know of a simpler way to use the decorators? Otherwise, I'

[2018-06-14 17:03] tizmagik commented on #74
Hey @dbeaudway 👋

1. Yes, I believe you will need to eject to add decorators support to create-react-app, [here's a blog post on this](https://medium.com/@rodcisal/ejecting-and-adding-decorator-support-to-your-create-react-app-a4a7d80e4077). If you'd rather not eject (I'd recommend not to, if this is the only thing you're adding), you could use [recompose's `compose` function to stack higher order

[2018-06-18 00:46] Sicria opened #75 "Formatter"
Is it possible to run all events through a formatter function before they're sent to the dataLayer?

A use-case for this is that I would like to ensure that certain field values are all formatted the same. This means that in some instances "search" & "Search" is split into two different events.

If a formatter was applied to those, you could enforce a lowercase standard to all events where certain

[2018-06-18 00:53] Sicria commented on #75
**Update:** Found a way to achieve this by overwriting the ``dispatch`` function.

[code]

[2018-06-18 00:53] #75 closed

[2018-06-22 13:45] spencewood opened #76 "An updated release for React 16"
I really appreciate you putting this library out there!

I'm a little stuck at the moment though because, while the latest published version does indeed support React 16, the peer dependency of `react@^15.0.0` doesn't meet semver package requirements when using it alongside React 16, and a `yarn check` yields the following with `react-tracking@5.2.1`:

[code]

It looks to be all fixed up with with

[2018-06-22 18:48] tizmagik commented on #76
Ah, yes sorry about that. Will get a release out shortly!

[2018-06-22 18:52] tizmagik commented on #76
Released [v5.3.0](https://github.com/NYTimes/react-tracking/releases/tag/v5.3.0)

[2018-06-22 18:52] #76 closed

[2018-06-22 18:57] tizmagik commented on #75
Glad you found a solution @Sicria -- feel free to submit a documentation update PR to add this use case if you think it would be helpful to others 😁

[2018-06-22 18:58] tizmagik commented on #67
@garbles nobody has yet, if you have time/interest please feel free! 🙏

[2018-06-22 19:02] garbles opened #77 "Suggestion: Add type-safe tracking helpers"
Hello! We're using this library to integrate tracking into our React front-end, but we use TypeScript and trying to type the `track` function is a nightmare. The type definitions ([`@types/react-tracking`](https://www.npmjs.com/package/@types/react-tracking)) do not work as expected and we've resorted to wrapping `track` (typed as `any`) in several other functions to get some type safety. What we

[2018-06-25 18:07] anandshanbhag opened #78 "Documentation: FooComponent is missing in the sample"
In the "**Usage on Stateless Functional Components**" section of readme, you have created a component with the name "**FooPage**", but while creating HOC thorugh "track" you have mentioned "**FooComponent**".

`export default track({
  page: 'FooPage'
})(FooComponent);`

It should be the following;

`export default track({
  page: 'FooPage'
})(FooPage)`

[2018-06-29 00:43] riley-steele-parsons opened #79 "Default dispatch function does not appear to work as expected"
I've attempted to setup a `track` decorator on a high level component which contains an option object as a second argument, like so:

[code]

Based on the docs, I gathered that when a lower level `track` decorator dispatches an event, the default dispatch function pushes the event object onto the `window.dataLayer` array which is subsequently sent to Google Analytics. I am not seeing this behavior

[2018-07-06 14:16] tizmagik commented on #79
Thanks @riley -- it's possible you've found a bug. Are you able to create a failing test case and/or create a reproduction in https://codesandbox.io or similar?

[2018-07-06 14:19] tizmagik commented on #79
Note that your `process` function in your snippet never returns anything, it would need to be updated to this:

[code]

Note the additional parens `(` to return the result of the ternary.

[2018-07-06 14:23] tizmagik commented on #78
Fixed in https://github.com/NYTimes/react-tracking/pull/80 thanks for the report!

[2018-07-06 14:23] #78 closed

[2018-07-06 18:18] riley-steele-parsons commented on #79
@tizmagik , could you take a look at this CodeSandbox? I am now seeing data within the dataLayer property (without manually duplicating the dispatch function). However, instead of having the process function inject properties into each new track object, a single object containing the process data is added to the beginning of the dataLayer.

[2018-07-07 03:14] tizmagik commented on #79
Hey @riley-steele-parsons thanks for the CodeSandbox repro -- I think I see what you're saying now. However, this is actually expected behavior. The `process` function is really meant to conditionally dispatch _additional_ tracking objects when a component _mounts_. As from the docs (emphasis added):

The main use case for this is to dispatch an additional "pageview event" for Page components. Per

[2018-08-24 01:11] Sicria commented on #63
Ended up solving my use-case when implementing this on another project.
Solution can be found in https://github.com/NYTimes/react-tracking/issues/75.

[2018-08-24 01:11] #63 closed

[2018-08-24 13:55] daniel-winter opened #85 "Duplicated data entries and parent components challenges"
Dear NYTimes team, dear @tizmagik,

we are currently working on a relaunch of our online-shop/platform with ReactJs. For tracking purposes we want to use your powerful, light and well implemented plugin. Before we go online, we have a few challenges to overcome. Therefore, we would be very happy if you could share your experiences with us:

Specifically, since ReactJs's lifecycle calls methods mor

[2018-08-24 17:32] tizmagik opened #86 "Create FAQ"
We get a lot of similar questions, usually around the nuances of `dispatch`, `process` and how contextual tracking propagates through the app. It would be helpful to create an FAQ and/or "common patterns" doc to explain these (with examples) in a little more detail.

We could use the [question label](https://github.com/NYTimes/react-tracking/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3Aquestion+) as

[2018-08-24 17:50] tizmagik commented on #36
Closing this in favor of #67

[2018-08-24 17:50] #36 closed

[2018-08-26 13:32] dutzi opened #87 "Can't access reffed component"
Hi guys,

We're having issues using react-tracking with reffed components.

The following example illustrates this:

[code]

ParentComponent can't call ChildComponent's focus method since `@track` annotation wraps the component without allowing access to the component itself.

React-redux solves this with an option called [withRef](https://github.com/reduxjs/react-redux/blob/master/docs/api.md#arg

[2018-08-27 03:49] tizmagik commented on #87
Ah, yes, thanks for the issue, that makes sense. Although I think the React.forwardRef API might be a better fit for this, https://reactjs.org/docs/forwarding-refs.html

[2018-08-29 07:11] daniel-winter commented on #85
Hi @tizmagik, thank you for your detailed answer.

**Duplicate data**

We're evaluating our code right now. This takes a lot of time, so I'm sorry for the delay of a proper response.

In the meantime I've another question regarding the usage of the decorator. We've currently a problem using arrow functions as event callbacks with the decorator. We're using arrow functions to prevent binding in the

[2018-08-29 19:42] tizmagik commented on #85
Decorating class methods should work fine (as can be seen in the codesandbox example). Make sure you also decorate the `class` declaration itself, that's required for decorating within the class to work properly.

[code]

Also, make sure your tracking objects have data in them (at least one property for the entire tree). By default, [empty objects are not dispatched](https://github.com/NYTimes/rea

[2018-09-01 21:40] tizmagik opened #89 "Upgrade to @babel v7"
WIP branch here: https://github.com/NYTimes/react-tracking/tree/babel7

[2018-09-14 09:40] rickgaurav commented on #85
```Decorating class methods should work fine (as can be seen in the codesandbox example). Make sure you also decorate the class declaration itself, that's required for decorating within the class to work properly.```

[2018-09-16 14:53] dutzi commented on #87
Hey @tizmagik, sorry for nagging but any idea when this fix will go live? (We just have something that depends on it waiting to go live)

[2018-09-16 20:04] tizmagik commented on #87
Fee free to submit a PR, otherwise I can try and take a look at it this week

[2018-09-17 17:20] jbadeau commented on #74
You don’t need to eject: https://github.com/timarney/react-app-rewired/blob/master/README.md

[2018-09-20 07:43] jbadeau opened #93 "Track Hierarchy"
Hi,

Given: a tracked component tree like:

[code]

When: the user selects a Tab1

Then: I would like to be able to dispatch a message like:
{event: 'myapp.page1.tabbar1.tab1'}

The current dispatch method provides an object like:

{app:'myApp', 'tab': 'tab1', page: 'myApp', tabBar:'tabBar1'}

 but I don't know the hierarchy. Is there some way I can create the hierarchy in the dispatch or pre-proc

[2018-09-20 08:30] daniel-winter commented on #93
Take a look here to the answer of @tizmagik
https://github.com/NYTimes/react-tracking/issues/85

[2018-09-20 08:54] jbadeau commented on #93
Hi,

My issue he is not to know which tab was clicked but to be able to reconstruct the component hierarchy. TrackingData is an object which means I cant' rely on property iteration order to reconstruct the tree.

[2018-09-21 12:01] jbadeau commented on #93
Exactly, I don't know the order.  Humm, I will see what I can come up with in.

[2018-10-01 09:19] jbadeau commented on #93
We have forked the project. The issues is that if a child component tracks a property with the same name as a parent component, then it is replaced via the deep merge.

deep merge:

parent: {foo: {a:1}}
child: {foo: 'dog'}
merged obj: {foo: 'dog'}

shallow append

parent: {foo: 'cat'}
child: {foo: 'dog'}
merged obj: {foo: [{a:1}, 'dog']}

the properties are merged into any array in the order of th

[2018-10-01 09:19] #93 closed

[2018-10-01 15:19] tizmagik commented on #93
Interesting. Might be useful as an optional property to change the merge behavior at some root-level component, similar to how dispatch behavior is defined:

[code]

@jbadeau if you want to contribute that back instead of maintaining a separate fork I think we can consider it here, it seems generally useful.

[2018-10-01 15:28] jbadeau commented on #93
I def like the idea of a user configurable merge strategy. Let me refactor the code a bit to try that. As the code is maintained in a private fit repo I cannot share but I can provide a fit patch

[2018-10-16 19:00] tizmagik opened #97 "Fix missing peerDeps"
We're missing some peerDeps as part of v5.5.0 (Babel 7 upgrade) in #94 ( cc @damassi )

[code]

As reported by [bundlephobia](https://bundlephobia.com/result?p=react-tracking)

[2018-10-16 19:13] damassi commented on #97
See https://github.com/NYTimes/react-tracking/pull/98

[2018-10-16 20:10] #97 closed

[2018-10-16 20:11] tizmagik commented on #89
Closed by #94

[2018-10-16 20:11] #89 closed

[2018-10-17 13:55] tizmagik opened #100 "Improve bundlesize"
The latest update to use Babel 7 ( #94 #98 ) caused our package size to increase almost 6x (5.5.1 vs 5.4.1)

https://bundlephobia.com/result?p=react-tracking@5.5.1

Maybe core-js should instead be a peerDep? Or maybe we need to look into using Rollup or microbundle or something.

cc @damassi

[2018-10-17 17:11] damassi commented on #100
This is an interesting issue in that

a) most people that use babel will have core-js within their dependency tree and will be using it in some way; and

b) those who aren't using babel still need these ES6 features transpiled down / shimmed for es5 environments. If `core-js` was moved to a peerDep then the proper installation instructions for this second category of people would be `yarn add reac

[2018-10-18 00:54] tizmagik commented on #100
Yea, unfortunately this gets into the whole "should node_modules be transpiled" debate? One approach is to use a bundler like Rollup and build to multiple targets, but that gets messy fast and I'd rather defer that complexity for later. I'm hopeful, now that create-react-app has decided to transpile node_modules, that this approach will become more ubiquitous and we wouldn't have to solve for that

[2018-10-18 04:11] damassi commented on #100
Will do 👍

[2018-10-19 16:32] tizmagik commented on #100
Released v5.5.3

[2018-10-19 16:32] #100 closed

[2018-10-19 16:39] tizmagik opened #102 "dispatchOnMount: true has no effect when `process()` ends up not dispatching"
#### Description

When there is a top-level `process` function defined and `dispatchOnMount: true` is passed in and the result of calling `process()` is to _not_ dispatch, then the boolean for `dispatchOnMount` essentially has no effect.

#### Expected Behavior

When `dispatchOnMount: true` is passed in, it should _always_ dispatch when the component mounts, unless the call to `process()` has disp

[2018-10-19 16:43] tizmagik commented on #102
A workaround is to define `{ dispatchOnMount: () => true }` so that the first conditional `L69` triggers

[2018-10-19 17:03] #102 closed

[2018-10-19 17:07] tizmagik commented on #102
Released in [v5.5.4](https://github.com/NYTimes/react-tracking/releases/tag/v5.5.4)

[2018-10-24 08:04] kelyvin commented on #87
+1

[2018-10-29 13:29] Sicria opened #106 "Return rejected promises"
After updating from ``5.3.0`` > ``5.6.0`` the decorator now does not return the value of a promise.

[code]

The ``onSubmit`` function above returns a promise which returns an error to display submission errors via ``react-final-form``. If the decorator is used this error does not get reported as the value isn't passed through.

[2018-10-29 17:20] tizmagik commented on #106
Thanks for submitting an issue. My guess is this behavior changed in [v5.4.0](https://github.com/NYTimes/react-tracking/releases/tag/v5.4.0).

For your use case I'm not sure I understand what is the desired behavior and whether the [new async/promise support mentioned in the docs](https://github.com/NYTimes/react-tracking#advanced-usage) would help your particular use case?

[2018-11-03 11:13] dhruvg opened #107 "Fire track even when element becomes visible"
First off, thanks for making this. I have been using react-tracking for a few months now and it's so clean while getting me the granularity of tracking I desire. Kudos.

I am curious how users of this library check for component visibility before firing an event. A simple use case is that I have a hidden alert on the page. I want to fire a "show" event when this alert becomes visible (not when it

[2018-11-04 03:02] tizmagik commented on #107
Hey @dhruvg thanks for the kudos, that's appreciated and I'm glad you're making good use of react-tracking 😁

So for this use case, you actually have a few options.

#### Visibility is driven by props

If the visibility of the component is driven by the parent, and thus, by props, then you can actually optionally dispatch a tracking call by returning a falsy value initially and then the object to

[2018-11-18 14:25] avinashhasule opened #108 "Unable to run sandbox code"
Hello ,
I tried same to execute code by downloading code from sandbox download link .
While running exception gives  Unexpected token @track.

[2018-11-19 20:48] tizmagik commented on #108
Ah, I see what you mean now, just downloading the sandbox code and running it locally won't work because `react-scripts` (what `create-react-app` uses for its build configuration) doesn't support decorators. I'm honestly not entirely sure why it works in the web view of CodeSandbox but not when you download it, I think maybe they use TypeScript to compile or something?

Anyway, here's a few workar

[2018-11-21 15:57] #85 closed

[2018-11-29 08:58] cpprookie opened #109 "Decorate class method passed to child component"
Thanks for your wonderful plugin.

After reading readMe, I wonder how to decorate class methods passed to childComponent as event handler with params.

For example. I get class component Wrapper
[code]

And it contains several buttons
[code]

Is there a way to track  index param for decorated switchTab param?

[2018-11-29 16:40] tizmagik commented on #109
You should be able to just decorate `switchTab`, you will have access to the args that the `switchTab` function is called with, or you can use the `state` arg. This is [explained here in the README](https://github.com/NYTimes/react-tracking#advanced-usage).

The signature when decorating class methods is:

[code]

Returning an object will dispatch a tracking event.

For example (using the arg pass

[2018-11-30 05:50] cpprookie commented on #109
@tizmagik   thanks for your clear answer  :)
 I should read more carefully for the example in readme! And I will recommend this module to my teammate after personal use.
By the way, I think examples in the sandbox  should show this case to make users clear at first glance. or Maybe create example files is much better?  I could offer a pr if you think it is helpful.

[2018-11-30 05:52] tizmagik commented on #109
Thanks @cpprookie -- yes a PR would be greatly appreciated. I plan on creating some kind of "common patterns" doc for more detailed examples, as you suggested, so you can link your PR to this issue: https://github.com/NYTimes/react-tracking/issues/86

Cheers!

[2018-11-30 05:56] cpprookie commented on #109
Ok. I will do some work on this weekend.
Cheers!

[2019-02-12 22:12] apatt124 opened #111 "window.dataLayer is undefined"
It seems that the dataLayer is not being initialized in [src/dispatchTrackingEvent.js](https://github.com/NYTimes/react-tracking/blob/master/src/dispatchTrackingEvent.js). After I trigger events through any @track decorator, when I log `window.dataLayer`, it show up in the console as `undefined`. See below:

[code]

[2019-02-15 03:48] saidkholov opened #112 "Please add instructions how to test decorated methods"
Example 1:
[code]
The only way to test this decorator is to extract the callback function.

Example 2:
There is no way to `jest.spyOn()` on the decorated method or override a decorated method.

[2019-02-15 03:54] saidkholov commented on #111
I think you need to add/link tracking library like GA or GTM. `React-tracking` is analytics platform agnostic.

[2019-02-15 03:59] saidkholov commented on #112
looks like a setter is missing in `makeClassMemberDecorator.js`

[2019-02-19 04:11] tizmagik commented on #111
The default dispatch should create the dataLayer array if it’s not there. Can you create a codesandbox repro? I’m not able to reproduce the issue

[2019-02-19 04:13] tizmagik commented on #112
I haven’t had a use case for testing these methods as they’re mostly a simple function of props. Happy to explore a PR if you have an approach to make these more testable.

[2019-02-20 17:34] robmojosix commented on #112
@tizmagik A use case might be to test that the method called track with data? How would we test that?

[2019-02-20 17:36] robmojosix commented on #112
Also, if we can’t stub the decorators then won’t react-tracking get called on every test assertion that uses it? Ideally I don’t want this to be called as part of my component tests.

[2019-02-21 01:02] tizmagik commented on #112
Ah yea, so for the tests we actually just mock out react-tracking. If you're using Jest, you can define a shared mock in `__mocks__/react-tracking.js` that's just a pass-through decorator, like so:

[code]

If you wanted to assert that react-tracking is called with a particular object (or, at all) you could do something like:

[code]

---

To your point, this should be something we go over in the

[2019-02-21 05:10] saidkholov commented on #112
Yes, this might work. I’ll test the idea and do a PR to update the docs.

[2019-02-24 20:57] robmojosix commented on #112
@saidkholov @tizmagik in the end my team used another tracking provider to mock the dispatch call. This was simple to do plus you don't mock out the entire library.

I've created a PR if this is something that works for everyone:
https://github.com/NYTimes/react-tracking/pull/114

[2019-02-24 21:22] saidkholov commented on #112
The PR looks great, thanks @robmojosix . I'll give this approach a try.
On the other hand, to test decorated methods within the class I ended up passing a mocked `tracking` object to a component like this:

[code]
Works wether decorators are used or tracking is dispatched via props.

P.S. If one is testing a fully wrapped component(`track()(Component)`), they can verify all the arguments passed to

[2019-02-24 21:27] saidkholov commented on #112
The only problem that I'm still having is coverage within function passed to a decorator. Istanbul seems to ignore it. Looks like it is an issue for istanbul repository.
[code]
Exporting the function and testing it separately doesn't look good.
Please let me know, if you know how to overcome it:)

[2019-02-25 00:04] tizmagik commented on #112
Thanks very much for the PR @robmojosix -- I'll take a look!

@saidkholov I like the approach of passing in a `tracking` prop directly. If that works for your use case, that might be worth documenting as a PR. As for the istanbul coverage issue, I haven't looked into this myself, but found [this issue](https://github.com/istanbuljs/istanbuljs/issues/72#issuecomment-346689604) which suggests giving

[2019-02-25 08:07] robmojosix commented on #112
@saidkholov if you can assert that your mock was called with args doesn’t this cover your decorated methods?

Checking it was called means the decorator fired and checking the args meaning you are testing the logic of the decorator.

[2019-02-25 23:17] saidkholov commented on #112
Sorry my bad, I didn't check coverage stats after I mocked tracking object the way I mentioned. It is looking good now. Created a PR https://github.com/NYTimes/react-tracking/pull/115

[2019-02-26 14:13] robmojosix commented on #112
Cool, @saidkholov I've just looked over the PR :)
This is a really simple and quick way to test tracking 👍

As you mentioned before; I'm not sure this will cover your decorated class methods - these won't call your stub.

Another thought is that this will bypass react-tracking's use of the context API which will only matter if you need to test accumulative tracking over multiple components. Howeve

[2019-02-26 14:52] tizmagik commented on #112
All good points @robmojosix -- thank you very much for your input. And thanks @saidketchman for the PR.

I'm hesitating about #114 because I don't want to increase the surface of react-tracking, especially since this can be implemented in userland relatively easily. And I think #115 is a good start but @robmojosix raised some good points there.

I think the right solution may be some combination o

[2019-02-26 15:00] robmojosix commented on #112
Completely agree @tizmagik
I'll close my PR.
I think @saidkholov 's docs-only PR is better placed to be tweaked into what we want :)

[2019-02-26 15:05] saidketchman commented on #112
@tizmagik getting credit for something I didn't do hahaha. Wrong Said :P

[2019-02-27 04:22] saidkholov commented on #112
Thanks for your feedback, everyone.
Totally agree with @robmojosix. Good notes.

[2019-03-14 06:07] Jekiwijaya opened #116 "[React Native][Android] transform inlineRequires cause maximum call stack"
Hello, I using react-tracking in my react native projects.

But when I enable the [`transform: { inilineRequires: true }`](https://facebook.github.io/react-native/docs/performance#adding-a-packager-config-file) the project breaks. I found out if I comment the react-tracking, it works as expected. Note that it only affected in android only.

## Example Repo
https://github.com/Jekiwijaya/react-track

[2019-03-14 06:18] Jekiwijaya commented on #116
Find the solution. to fix, upgrade to 0.59 react-native version, since it's upgrade the android JSC.

[2019-03-14 06:18] #116 closed

[2019-03-16 20:50] tizmagik commented on #67
I published a version of react-tracking against the `next` tag. If you have any time to test it out in your app, that'd be greatly appreciated! 🙏

[code]

[2019-03-21 21:02] GiancarlosIO opened #119 "Module not found: Error: Can't resolve 'core-js/modules/es6.function.bind"
I'm getting this error after upgrade to v5.7.0

![Captura de pantalla de 2019-03-21 15-58-26](https://user-images.githubusercontent.com/17274950/54784586-3bdcb680-4bf2-11e9-9933-bba863acd524.png)

It is the only package that give me that error :thinking:
Maybe it is because I'm using core-js v3? :thinking:
[code]

[2019-03-21 21:42] tizmagik commented on #119
Oh hmm sorry for the trouble. Maybe due to the dependency updates in https://github.com/nytimes/react-tracking/pull/117

Did you get any npm warnings like missing peerDependencies when you upgraded? Does v5.6 work fine for you?

[2019-03-21 21:58] GiancarlosIO commented on #119
@tizmagik I think it is because I'm  using [@babel/core@7.4](https://babeljs.io/blog/2019/03/19/7.4.0) and core-js@3, corejs 3 dont have the packages es7.symbol.async-iterator, web.dom.iterable', etc. But I don't know why it only fails in react-tracking :thinking:. Is react-tracking using another way to bundle the code?

Thanks!

[2019-03-21 22:22] tizmagik commented on #119
Hmm we haven’t changed the way we build the code. We assume any polyfills are done in userland, that’s why the peerDependency on core-js. Happy to look at a repro or something but not sure if this is specific to react-tracking or if it’s just how your polyfills are applied in your app?

[2019-03-22 16:03] GiancarlosIO commented on #119
@tizmagik I will try to create a repro this weekend
:running_man:

[2019-04-04 19:59] juliusdelta commented on #111
In my work project we initialize window.dataLayer as an empty array if it doesn't exist. e.g.
[code]

[2019-04-09 11:17] alloy opened #120 "React Hooks API?"
Given that React Hooks are now here to stay and more and more people are eager to use them, I was wondering if you have started thinking about a future version of react-tracking that would integrate well with this new landscape?

Specifically, we can’t add decorators to functions and I’d really like to keep separating business logic from inline analytics calls–while keeping them clearly ‘attached’

[2019-04-11 23:26] tizmagik commented on #120
Yea I’ve been thinking about how best to approach this. The ideal interface I think would be something like `useTracking()` which could encapsulate the context propagation and everything else we support today with the decorator syntax.

I haven’t had time to create a POC/start a PR, but if anyone’s interested, please feel free and we can iterate.

[2019-04-16 13:43] dutzi opened #122 "Property 'tracking' is missing in type..."
Using TypeScript with react-tracking we encountered the following error for each component wrapped by `track()`

[code]

According to [this](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/34738) the issue is with react-tracking, I tried playing around with the type definitions but couldn't find a solution. If I find any I'll update.

[2019-04-16 23:59] tizmagik commented on #122
Hi, sorry for the troubles.

Took a quick look at your repro case, wouldn’t the TrackingProptype go on `TrackedComponent` and not on `MyComponent`? Or am I misunderstanding the issue?

[2019-04-24 20:54] jacekradko commented on #119
FWIW, we have seen the same issue after upgrading to `core-js` 3.0.0 internally

[2019-04-24 21:16] tizmagik commented on #119
Thanks @jacekradko -- do you have a repro you could point to, or would you know off-hand what we might be missing on react-tracking side? We haven't changed how we're bundling so I guess it's something to do with how babel runtimes work or something? 🤷‍♂️

[2019-04-24 21:31] #67 closed

[2019-05-20 16:32] mckernanin commented on #119
@tizmagik running into this too, will try to put together a repro if i have time. I'd guess that upgrading the dependency in react-tracking, and then publishing a new build will resolve the issues.

[2019-05-20 16:37] mckernanin commented on #119
Possible (likely) related issue in babel, updates to babel config seem to be the answer:
https://github.com/babel/babel/issues/9796

[2019-05-20 16:53] mckernanin commented on #119
Reproduction: https://github.com/mckernanin/react-tracking-corejs-v3-repro/tree/master/

New app with CRA, install `core-js` + `regenerator-runtime`, import them in index.js like this along with `react-tracking`.

[2019-05-20 19:53] #120 closed

[2019-05-20 20:51] #122 closed

[2019-05-20 20:51] #111 closed

[2019-05-20 21:19] tizmagik commented on #119
Hmm releasing this in v7.0.0 and using it in a couple of apps at NYT caused build failures,

[code]

Maybe that means we don't have babel configured correctly, OR we're not building react-tracking correctly but either way I think I want to pull this change out of `7.0.0` and release `7.0.1` while we look into a better way to fix the original problem this issue was opened for.

[2019-05-20 21:26] mckernanin commented on #119
@tizmagik did you upgrade core-js in those projects?

[2019-05-20 21:31] tizmagik commented on #119
@mckernanin yes, I explicitly listed core-js@3 as a dependency (it was a transitive dependency before that) and it still resulted in build failures. I think the issue is that it's not as simple as upgrading core-js to v3, but that it requires babel configuration updates as well. Maybe we can figure out a better way to build react-tracking so that's not necessary but for now I rather keep the Hooks

[2019-05-20 21:34] mckernanin commented on #119
No worries. 7.0.0 works properly with `react-scripts` v3.0.0, I just upgraded a production app. Likely a needs something in a custom babel config to work properly. If there's anything I can do to help let me know!

[2019-05-20 21:42] tizmagik commented on #119
Ah yea you're right, if I update our babel configuration to:

[code]

And ensure that `core-js@3` is a direct dependency, then it seems to work.

But, I rather not have folks need to mess with their babel configuration (specifically folks not relying on react-scripts). Maybe we need to move to using [microbunlde](https://www.npmjs.com/package/microbundle) or something.

[2019-05-20 21:59] damassi commented on #119
Just gave this a spin in our app and adding these options didn't work -- because we're on a lower version of babel 7; the `corejs` option was added in [@babel@7.4.0](https://babeljs.io/blog/2019/03/19/7.4.0).

We could update no problem, but I wonder if it might be better to bundle this up in the build to NPM rather than requiring folks to install additional packages and update config? Will be ver

[2019-05-21 18:45] tizmagik commented on #119
So if I set `core-js@3` as a direct dependency of react-tracking, then it no longer requires changes in user-land babel config. I'm not crazy about that solution though because that means this package would report as +40KB in size (for all of core-js) even though it doesn't actually use all of it: [see bundlephobia](https://bundlephobia.com/result?p=react-tracking@7.0.1-0).

Maybe that's okay for

[2019-05-21 18:53] damassi commented on #119
@tizmagik - works great 👍 As an interim I agree it's probably ok so that consumers don't break / require additional setup, but also that it can be improved upon. Will give a think when I get a sec.

[2019-05-21 19:20] tizmagik opened #127 "Building/bundling react-tracking"
As per discussion in #119 we need a better way of bundling/building react-tracking. In v7.0.1 we had to move core-js@3 to a direct dependency, even though we don't need the entire library so that user-land doesn't need to adjust their babel configuration. This means we're reporting +40KB on bundlephobia which is misleading.

Maybe there will be some churn in the ecosystem as folks upgrade to core-

[2019-05-21 19:22] tizmagik commented on #119
Thanks @damassi -- this update is released as [v7.0.1](https://github.com/nytimes/react-tracking/releases/tag/v7.0.1)

Closing this issue in favor of: https://github.com/nytimes/react-tracking/issues/127

[2019-05-21 19:23] #119 closed

[2019-08-16 16:37] carterthayer commented on #112
How do I test my decorated functions? I have `react-tracking` mocked as per @tizmagik's comment:
[code]

But am have been getting `TypeError: dive.instance(. . .).handleClick is not a function`

Example:
[code]
[code]
Works perfectly fine with the `@track` removed from the `handleClick` function

[2019-08-19 16:13] tizmagik commented on #112
Ah, this is because that simplified mock (`module.exports = () => c > c`) won't actually work for decorated class methods (only for decorating the class itself or wrapping function components).

Here's a slightly more sophisticated mock that should work for what you're trying to do @carterthayer

[code]

I've been meaning to provide this as importable within react-tracking via something like: `imp

[2019-08-19 17:44] tizmagik opened #134 "Provide testing/mocking instructions and export react-tracking/mock"
I've been meaning to provide this as importable within react-tracking via something like: `import track, { mockTrackEvent, TrackingPropType } from 'react-tracking/mock';` but haven't had a chance yet. PRs welcome! 😁

[code]

_Originally posted by @tizmagik in https://github.com/nytimes/react-tracking/issues/112#issuecomment-522647123_

[2019-08-19 17:44] tizmagik commented on #112
Closing this issue in favor of #134

[2019-08-19 17:44] #112 closed

[2019-09-06 15:08] markgibaud opened #137 "Can't play nicely with Redux?"
Hi - hopefully this is something small that i'm missing.

This is how I've initially integrated react-tracking into a ReactNative app:

App.tsx:
[code]

MyComponent.tsx:
[code]

The problem is that when I run it something gets screwed with the HoC tree and I get this redux error:

`Invariant Violation: Could not find "store" in either the context or props of "Connect(WithTracking(MyComponent))". E

[2019-09-09 07:43] markgibaud commented on #137
Ah ok, what also works is simply using the method version of `track`:

[code]

Will do this for now!

[2019-09-09 20:35] tizmagik opened #138 "Expand React Hooks API support"
To build on the work done in https://github.com/nytimes/react-tracking/pull/124 (issue #120) -- we currently support "grabbing" the contextual tracking data via `useTracking()` hook, but we don't currently provide a way to add additional tracking context via hooks. I'm not entirely sure if doing so would be an anti-pattern, but if it's possible and doesn't break React Hooks paradigm/patterns to do

[2019-10-01 15:02] smitch88 opened #139 "`tracking` prop on DOM element not serialized from decorated component"
I'm not entirely sure if this is on purpose or not but I am seeing `tracking="[object Object]"` on the rendered DOM element.

<img width="241" alt="Screen Shot 2019-10-01 at 11 03 13 AM" src="https://user-images.githubusercontent.com/762107/65974539-17805300-e43b-11e9-887e-3618060f7f26.png">

The code seems a bit weird, is there a reason why `this.tracking`, https://github.com/nytimes/react-tracki

[2019-10-10 23:28] tizmagik commented on #139
Hmm, it's not meant to be a rendered DOM attribute. Could you share what your setup/code looks like that reproduced this?

[2019-10-11 00:12] smitch88 commented on #139
I cannot share the code as its proprietary but just given the way the HOC is putting `this.tracking` into `tracking` as a prop I would imagine its the case for every implementation.

[2019-10-11 00:31] tizmagik commented on #139
Yea, sorry unless I can see a snippet of what you're doing it's hard for me to diagnose your issue, but it's likely incorrect usage since the tracking prop shouldn't be placed directly on DOM elements. You might be spreading props while rendering DOM elements, which would cause this issue, in that case, you'd want to explicitly exclude the `tracking` prop.

For example, we at NYT make heavy use of

[2019-10-11 00:55] smitch88 commented on #139
We are not doing anything out of the ordinary I believe,

Root component has our defined handler for capturing events,
[code]

Those are the 3 usecases we use and how we use them with `@track`. The code in that higher order component is putting the `this.tracking` onto the HOC so its the component spreading it on there. We have no control on our side to eliminate that do we?

Let me try isolate an

[2019-10-11 01:08] smitch88 commented on #139
I think this must be an issue with some spreading of props. I think that is enough for me to go back and look at our implementation and ensure we are not needlessly forwarding `tracking`.

Thanks for your help @tizmagik

[2019-10-11 01:57] tizmagik commented on #139
Sure, happy to help! Feel free to open a new issue if you notice anything else.

Also, by the way, you can avoid writing `componentDidMount` if all you need it for is to dispatch a tracking event when the component mounts; react-tracking provides a `dispatchOnMount` option as part of the second arg in the decorator exactly for this purpose :)

[code]

[2019-10-11 01:57] #139 closed

[2019-10-18 20:24] tizmagik commented on #137
Hey @markgibaud -- please check out the latest release, [v7.2.0](https://github.com/nytimes/react-tracking/releases/tag/v7.2.0) if you're still having issues. @bgergen PR may help fix this.

[2019-10-18 21:41] bgergen commented on #138
The tricky thing here is that the `useContext` hook doesn't have the ability to create a new context provider. It can only consume the current context. This means that there is no way to simply pass contextual data to the `useTracking` hook and have it set a new context all on its own. The API I've been batting around in my head would be a familiar one in that it looks similar to the `useState` ho

[2019-10-19 16:33] tizmagik commented on #138
Thanks for the exploration, @bgergen ! I'm not crazy about having to add `TrackingProvider`s to the component hierarchy and I'm wondering if there might be a way to avoid that. Thinking out loud, since the tracking doesn't/shouldn't otherwise affect what's rendered it shouldn't be necessary to include it in the actual markup -- I wonder if there's some way we could just collect the tracking object

[2019-10-20 19:18] bgergen commented on #138
@tizmagik Yeah, I had the exact same thought when I was trying to work through how to avoid wrapping the markup in a new provider. I considered the possibility of having one provider near the root of the component tree, which would make an updater function available to all consumers. Where my mental model broke down was in trying to envision how a `dispatch` would know which branch(es) of the map

[2019-10-29 16:20] bwhitty opened #145 "Feature proposal: server-side collection of trackingData"
Hello! First of all, fantastic package. The Context-based hierarchical collection and merging of data is brilliant, and solves so many problems at once. This package is fantastic.

Let me know about your feelings on a feature like this, and I can get working on an implementation if it seems reasonable.

# Proposal
I would like to gauge interest in allowing a new feature: server-side rendering supp

[2019-10-31 16:31] bwhitty commented on #145
Thanks for getting back! Sounds good, I’ll write up the use case more deeply, and also show the current implementation.

[2019-12-07 17:50] ianduvall commented on #138
One possible solution is to use event bubbling to gather parent tracking contexts on the way up the DOM tree until it hits the root provider. I hacked together a [codesandbox](https://codesandbox.io/s/react-tracking-hooks-customevents-ok53e) using [CustomEvents](https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent) to bubble tracking data up to the root provider and tack on tra

[2019-12-16 16:22] tizmagik commented on #138
Ah! Both brilliant suggestions, @ianduvall ! Thank you.

I think the VDOM/ErrorBoundary approach might actually work out better because for any solution it needs to:

- Work with the existing HoC API
- Work without a DOM (react-native)

I'll munch on this some more when I get a chance, but if you have a POC codesandbox for that ErrorBoundary approach I'd love to take a look.

Thanks again!

[2019-12-19 14:12] tianyingchun opened #148 "is there is a bug here?"
[code]

if we need to decorator one property or getter()

[code]
for property decorate will lazy execute, it will result in
[code]

[2019-12-19 16:41] tizmagik commented on #148
Yes, that's quite possibly a bug. I don't think we've handled the use case for a `getter`. Feel free to submit a PR with a test case! 🙏

[2019-12-19 17:34] tizmagik commented on #106
Fixed in #147 and released as [v7.3.0](https://github.com/nytimes/react-tracking/releases/tag/v7.3.0) -- thanks for reporting! 🎉

[2019-12-19 17:34] #106 closed

[2019-12-21 19:54] ianduvall commented on #138
So I thought about the `ErrorBoundary` approach a little more and I think it's a dead end for a couple reasons:

1. Error boundaries *do not* catch errors inside event handlers - [how-about-event-handlers](https://reactjs.org/docs/error-boundaries.html#how-about-event-handlers)
2. Existing error boundaries would have to be modified to not render errors for caught tracking events

Another point tha

[2019-12-21 23:26] tizmagik commented on #138
Ah, good point. Thanks for thinking through that approach! Maybe the event bubbling approach might work then, but will have to think through how to handle it for react-native

[2019-12-22 01:40] ianduvall commented on #138
I just learned "[Context] Providers can be nested to override values deeper within the tree" from the [docs](https://reactjs.org/docs/context.html#contextprovider). Similar to @bgergen 's approach of using Context Providers, you could use Providers to create new tracking contexts by merging its ancestor's tracking context with a new context and passing that to the Provider to override the context

[2019-12-22 22:15] tizmagik commented on #138
Yea, I think that's the problem, because otherwise it's not much different than just using the HoC API. I wonder if it would even be worth introducing this next context provider API vs just recommending folks stick to the HoC API. I'm not sure the added complexity to the API surface is worth it. 🤔

[2020-02-03 21:26] bgergen commented on #138
Feels like we could really use something like this: https://github.com/facebook/react/issues/4595

[2020-03-25 17:53] AliceMarshall commented on #87
Hi, is there anymore work being done on this? I see you made a PR back in 2018 for a fix, would really like a way to forwardRefs with HOC tracking.

[2020-03-26 15:30] tizmagik commented on #87
Yeap unfortunately I haven't had a chance to land that PR. If you're interested, feel free to pickup where that PR left off and/or start a new one. I think it's pretty close, I just haven't had time to focus on that 😞

[2020-04-10 00:48] marcelosedano commented on #134
Hi team,

We've been integrating this wonderful package into our own application but have faced some issues with fixing broken unit tests as a result. We tried using the mock above to set the `tracking` default prop for our class components but it didn't work. I'm almost certain that the issue is that the `defaultProps` for our components are defined outside of the class definition, a common patte

[2020-04-11 04:41] tizmagik commented on #134
Hmm it may be because of the `connect()` wrapper? Could you try something like this?:

[code]

If not, maybe you could create a repro in Codesandbox or something? I can try and take a closer look when I get a chance.

[2020-05-28 17:15] #87 closed

[2020-05-31 00:29] sad-squid opened #155 "TypeError on useTracking().trackEvent()"
Using `@types/react-tracking`, the DefinitelyTyped type definitions show that the useTracking().trackEvent() method's [return type is explicitly defined as `any`]((https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-tracking/index.d.ts#L11) ). Because this raises linting warnings and errors if using `@typescript-eslint/no-unsafe-return`, I've made a requested change to the t

[2020-06-11 10:48] thany opened #156 "propTypes & defaultProps removed from decorated components"
Say I've got this component:

[code]
It really doesn't matter.

I export this component wrapped in the `track` decorator:
[code]

Then, in a different component, let's call it Tremendous, I'm trying to inherit propTypes from Awesome into Tremendous.

[code]

This won't work. In the above example, `Awesome.propTypes` is undefined. The reason for this is the `track` decorator. Had I not used it, I c

[2020-06-19 00:33] tizmagik commented on #155
That makes sense, thanks for catching this. I see the Definitely Typed has been merged and it looks like a good change to me, so I'll close this issue.

FWIW, we are looking to bring the TS typings in-house here. This PR is a step in that direction and your review would be appreciated! https://github.com/nytimes/react-tracking/pull/152

Thanks again!

[2020-06-19 00:33] #155 closed

[2020-06-26 13:42] guanw opened #157 "Option to make `dispatch` fired after decorated method is fired"
First of all really appreciate the effort on making this library and it saves me a lot of time to implement my own version.

The way I use react-tracking is like the following:
[code]

i also attach a bunch of metadata from redux store to the `optons.dispatch`. The problem i'm seeing is that let's say if we have a redux state called `count` that's going to add 1 everytime `increment` is fired. rea

[2020-07-02 11:13] #109 closed

[2020-07-07 14:22] guanw commented on #157
Or would it be better to add a `afterDispatch` callback that i can use?

[2020-07-08 14:37] tizmagik commented on #157
Yes, good insight here. I think conceptually it makes sense that the tracking event is fired before the decorated function since syntactically that's how it appears: `@track(first)(secondFn = () => {})`.

The [Codesandbox Example](https://codesandbox.io/s/reacttracking-example-qk30j4x1zj) linked to in the main README actually has an example of this (although it's not using redux).

I'm sort of not

[2020-07-08 14:56] tizmagik commented on #156
Hey, thanks for creating this issue and clearly describing what you're seeing! Apologies for my late response!

I think this is actually expected behavior. We're [hoisting non-React statics](https://github.com/nytimes/react-tracking/blob/e20abc35782b75333d57ca680147debb10775f70/src/withTrackingComponentDecorator.js#L151) so that any static properties on the Component bubble up through the decorato

[2020-07-08 15:00] guanw commented on #157
@tizmagik Thanks for replying. Yeah i think if tracking is always gonna happen before dispatch then doing something like `@track((props, state) => ({ event: "click", count: state.numClicks }))` would be the way to go for me. But i also don't like the idea of specify option to top level component like
[code]
cause that means people need to add separate piece of code in order to instrument tracking

[2020-07-08 15:16] tizmagik commented on #157
So the function signature `(props, state) => ({ })` is only applicable when decorating class methods. The `options` signature is only applicable when decorating the class itself.

[code]

[2020-07-08 15:29] guanw commented on #157
oh, ic. I think it actually should work with my setup. I will get back to u once i verified. Thanks for the example!

[2020-07-08 16:25] guanw commented on #157
hmmm just did some initial experiments on this.
so basically make `tracking` method as followed:
[code]

seems that `action: 'increment'` is never received on options.dispatch callback tho. I will try to make a reproducible demo later when i got time.

[2020-07-08 17:50] guanw commented on #157
btw, in our use case we also need to directly fire `track` in code without using decorator pattern, is there any example on this use case?

[2020-07-09 14:46] guanw commented on #157
hmmm, i have one more question, I created a small react native project to try out advance feature of react-tracking.
Here is a link to the repo: https://github.com/various-playgrounds/expo-tracking-demo

I notice once i add the following commit (i.e the latest commit in that repo) to `App.js` it will throw maximum call stack error for me, am I doing anything wrong here?
![image](https://user-image

[2020-07-09 17:22] tizmagik commented on #157
If I had to guess, it's probably because the `event` object has a cyclical reference to itself somewhere in that object. I would pull off only the property that you actually need on `event` and not try to include the whole object.

[2020-07-10 12:17] thany commented on #156
That's actually what I ended up doing. It's too bad it has to be that way though, because it's a bit more verbose than I'd like it to be.

But if what you're saying is really true, that it's normal to (in my own words) not preserve propTypes, then I'm okay with that. I just really thought it was a bug.

[2020-07-11 23:50] tizmagik commented on #156
It's not that it doesn't preserve propTypes, it does, since we actually [pass them through](https://github.com/nytimes/react-tracking/blob/e20abc35782b75333d57ca680147debb10775f70/src/withTrackingComponentDecorator.js#L134) (the props you expect to be able to set on a tracking decorated component are still there from React's perspective), but it's not an _exported_ member on the module. That's why

[2020-07-15 11:05] thany commented on #156
The line of code you referred to, just passes the *props*, not the *propTypes*. But no worries, mate, I understand what you're trying to say. I agree a FAQ would probably be a good idea.

(finally a FAQ that is true to its meaning 😎)

[2020-07-15 14:52] tizmagik commented on #156
Yes, you're right, technically it's passing along the `props` but the `propTypes` also come along for the ride, but as an implementation detail of how React handles those and not the static `propType` property on the component itself, true! 😄

[2020-07-17 14:43] dortzur commented on #127
Hey, why not leave `core-js` implementation to userland? For example, we detect old browsers and load core-js for them only. We'd rather libraries not import their own core-js.

If you look at the modules ecosystem this practice is almost non-existent for this reason.

Would change library size from ~13kb to around ~3kb. I think userland is accustomed to having take care of polyfills

[2020-07-17 14:55] tizmagik commented on #127
Yea, ideally we would do that, but the tension was trying to keep the upgrade path as simple as possible since having `core-js` defined as a peerDependency means folks had to specify `core-js@3` in their babel config which wasn't even an option before `babel@7`. More context in that other issue, #119

It's been some time since then so maybe worth revisiting, especially if, as you said, this is the

[2020-07-30 08:44] shovalk opened #159 "forward ref is not working when using track as hoc"
while using track as hoc and setting in options `forwardRef: true` the ref is not being forwarded.
The issue is reproduced and a relevant git repo can be found here -
https://github.com/shovalk/react-tracking-forwardref-reproduce

[2020-08-07 04:52] l225li commented on #134
Hi, could you elaborate on the EDIT? What did you do to fix it? I'm newbie to react, just got a task to fix this problem. I also got a TypeError bug: `TypeError: (0 , _tracking.track) is not a function`.

Thanks a lot in advance!

[2020-08-11 18:58] tizmagik commented on #134
Hey @l225li are you still having this issue? Could you share more of your code or maybe create a Codesandbox example so I can take a closer look?

[2020-08-11 19:10] tizmagik commented on #159
Ah thanks for the bug report and reproduction case, @shovalk !

cc @ParadeTo who did the initial implementation. Any ideas?

I'll try and take a closer look at this as soon as I get a chance as well.

Thanks again.

[2020-08-12 02:37] cpprookie commented on #159
Looks like those commits merged into master but not published in npm package. Latest v7.3.0 was published in 2019. @tizmagik

[2020-08-12 18:42] tizmagik commented on #159
Ah of course haha sorry! I thought I remembered releasing this, but I guess not. I'll cut a release and hopefully that should address this issue. Thanks @cpprookie !

[2020-08-12 18:52] tizmagik commented on #159
This was released as [v8.0.0](https://github.com/nytimes/react-tracking/releases/tag/v8.0.0) -- I verified it working with the reproduction repo @shovalk ! Give that a shot and let me know if you have any other issues. Thanks again @cpprookie !

[2020-08-13 01:48] #159 closed

[2020-08-13 01:58] cpprookie commented on #159
Hah, never mind everyone makes mistake. Thanks for the awesome library, it's my pleasure that i could help community. @tizmagik

[2020-08-13 07:09] shovalk commented on #159
@tizmagik Thank you!

[2020-08-19 16:39] wokkaflokka commented on #134
@tizmagik cc @l225li

With respect to the comment from @l225li, I also observed this issue recently when integrating `react-tracking`. In my case, our project is a typescript project using stateless functional components and ES module imports, and using `jest` for testing.

By default, jest mocks do not support ES module semantics; when `react-tracking` was not mocked for ES module syntax, I obser

[2020-08-19 19:15] tizmagik commented on #134
Thank you @wokkaflokka , that's very helpful. And thank you for the kind words! 🤗

[2020-09-14 12:53] alifr opened #163 "Add release notes"
Congrats on releasing version 8 of `react-tracking`. I've enjoyed using this package in my project. It's been a life saver for collecting analytics. It would be nice to know what's changed in version 8 to know if I can upgrade from 7 without any breaking changes.

[2020-09-14 13:09] alifr commented on #163
Nevermind, I see they are in the [Releases](https://github.com/nytimes/react-tracking/releases) section that took me a moment to find.

[2020-09-14 13:09] #163 closed

[2020-10-02 17:19] tizmagik commented on #138
I think I'm warming up to the idea of returning a component from the `useTracking()` hook. The API could mimic what's currently supported by the HoC, but transparently return a Provider as long as it's the first tracked node in the tree (e.g. there is no tracking context available).

It feels like something around these lines should be possible:

[code]

[2020-10-06 12:55] huguesbr commented on #137
Hey @tizmagik

Hi, first of all awesome work!

Most of our need are covered (hierarchical definition of metrics context, handle async event -- with promise result, handle visible event, handle basic click, handle event args, ...) and the babel decorator syntax in order to wrap and inject context is so nice!

We have couple of place were it make sense for us to track event at the (Redux) reducer le

[2020-10-06 20:31] tizmagik commented on #137
Hmm I'm not sure what you mean, why wouldn't it play well with React context? Under the hood, react-tracking does use React context to keep track of tracking objects.

If you can, yes, a new ticket/issue would be helpful to dig more into your specific question about using react-tracking from within a Redux reducer. Thanks!

[2020-10-08 12:40] huguesbr opened #164 "Overriding an (event) context array"
When having an array in a context:

[code]

and tracking from a function (or a decorator comp)
[code]

The event context is `[1, 2, 3, 4]`, is it an expected behaviour?

Here is a demo code -> https://gist.github.com/huguesbr/e8126e5bb21d850ba5d6544080bda2a4

Can I override or configure something in order to REPLACE the context array values with the current event values?

[2020-10-08 14:23] huguesbr commented on #164
If it was not merged by default (or optional, or opt-in by default), I could do a merge by getting current context?
But I don't see a nice way to fix this behaviour with the current implementation?

[code]

[2020-10-08 17:21] huguesbr commented on #138
Might be late in the game but can you not:

[code]

then

[code]

[2020-10-09 04:12] tizmagik commented on #164
We use [deepmerge](https://github.com/TehShrike/deepmerge) to [merge contextual objects](https://github.com/nytimes/react-tracking/blob/919108b8874b5121b4b20927fa666737e2484ac5/src/withTrackingComponentDecorator.js#L9). By default, it looks like deepmerge will concatenate arrays instead of overriding them.

Unfortunately, right now we do not provide a way of overriding the merging functionality, n

[2020-10-09 06:45] huguesbr commented on #164
Thx @tizmagik that's a great suggestion, otherwise will see if I can cook a PR which will accept a merge function option.

[2020-10-09 06:45] #164 closed

[2020-10-10 01:10] bgergen commented on #138
I think I like this. I ran into one of the nuisances of not having something like this available recently, which is the need to swap out the hook for the HoC whenever you want a component to add contextual data where it didn't do so before. I want to make sure I understand what you mean by:

Does this just mean that `Track` would need to wrap the rest of the markup tree returned by a given compone

[2020-10-12 16:21] adi518 commented on #127
Let's do it, polyfills are global and should be within consumer responsibility.

[2020-10-12 16:41] tizmagik commented on #127
Happy to accept a PR

[2020-10-12 17:24] adi518 commented on #127
I'll create a PR soon, thanks.

[2020-10-13 21:08] tizmagik commented on #138
Yes, in fact, I think this is the only way to enable adding contextual tracking to the tree via a Hooks-only API.

I started some work on this in PR #165 which basically takes all of our e2e tests and re-writes them to only use the `useTracking()` API. The tests are failing now, but it's a TDD approach we can code against.

After rewriting a few of the tests I actually ended up settling on what yo

[2020-10-19 11:18] huguesbr opened #166 "override default `useTracking` behaviour"
Hi,

We have multiple React App (we're using `rails-react`), but we have some component shared by all our App (let's say a button) which make usage of tracking.

For some of our App it doesn't make sense to track anything (let's say admin).

We would like to change default behaviour of `useTracking` which raise if context is not defined, by returning a no-op instead.

[code]

The issue is `ReactTr

[2020-10-19 16:55] tizmagik commented on #166
Hello @huguesbr -- good question. The reason we throw an error when there's no context in the tree is to warn in the case the user forgot to establish react-tracking context before attempting to dispatch tracking events or to track components within the tree, it helps catch easy to miss cases where components that are expected to be track are included just outside the tracked root.

Can you help m

[2020-10-19 21:15] huguesbr commented on #166
Yes I'm following #138 really closely as the need to define context with functional comp is a core for us.

There is lot of different reasons why we don't want to have top comp defining a context. But the main one is being is being avoiding code where there should be none ^^ An App,we shouldn't track should be able to use a comp that track if within a tracking context?

Our current solution works

[2020-10-20 22:09] adi518 commented on #127
Done: #167

[2020-11-03 14:39] huguesbr commented on #134
To disable `react-tracking` in test, we've used something like this:

[code]

It doesn't solve testability, just avoid dealing with renamed HOC classes and such in test.

[2020-11-04 13:46] thany opened #169 "Play nice with Storybook"
Using react-tracking in Storybook causes issues, when also using addon-knobs.

I've been able to boil it down to the `track()` decorator that appears to do something that messes things up. When I remove that, it works great, but without tracking.

Please refer to this issue: https://github.com/storybookjs/storybook/issues/13011

I'm creating this issue here, simply to create awareness of this from

[2020-11-05 14:18] tizmagik commented on #169
Thanks for raising this, @thany  -- I'm not sure I quite understand the issue or what we can do differently in react-tracking to help. Any ideas?

[2020-11-11 15:24] thany commented on #169
I don't really know what's happening in the background. *Something* appears to be happening, something is added or changed on a decorated component that the Story component from Storybook doesn't really like. But what exactly? I was hoping, if you have the time of course, you might be willing to collab with the Storybook guys to figure it out.

[2020-11-11 16:01] tizmagik commented on #169
Do you notice this on both class-based and function-based components? I took a quick look and I noticed that neither your `withTracking` and their `withKnobs` wrappers [hoist-non-react-statics as we do in react-tracking](https://github.com/nytimes/react-tracking/blob/38a8962a0da0749719ccb0e482e46df3bf9b49f0/src/withTrackingComponentDecorator.js#L151) -- I'm not sure if that might be affecting thin

[2020-12-02 00:03] bgergen commented on #138
Closing this issue with the release of [v8.1.0](https://github.com/nytimes/react-tracking/releases/tag/v8.1.0)

[2020-12-02 00:03] #138 closed

[2020-12-02 02:37] tizmagik commented on #166
This should be easier to do now with the release of [v8.1.0](https://github.com/nytimes/react-tracking/releases/tag/v8.1.0)

[2020-12-02 07:44] huguesbr commented on #166
oh my https://github.com/nytimes/react-tracking/releases/tag/v8.1.0 is a gem! full support of react hooks is a blast! congrats!

will close now, thx!

[2020-12-02 07:44] #166 closed

[2020-12-13 02:32] Sicria opened #172 "Update @types/react-tracking"
Is it possible to update the types for the `useTracking` hook to allow for passing in an object.

[2020-12-28 14:08] mattes3 opened #173 "Typescript types not up to date for V8"
Hi,

the typescript types are not up to date. They correspond to version 7. They are missing the property `Track` in the object that is returned by the `useTracking()` hook.

Could you please add that?

Thanks...
Matthias

[2021-01-04 18:21] tizmagik commented on #173
Thanks, dupe of #172 -- TypeScript types via Definitely Typed are a community-driven effort currently. Although we do have plans to rewrite the internals to TypeScript and thus export type definitions directly (see #152 for WIP or if you'd like to contribute)

[2021-01-04 18:21] #173 closed

[2021-01-04 19:03] tizmagik commented on #172
Yes, that'd be great. TypeScript types via DefinitelyTyped, [@types/react-tracking](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-tracking), are a community-driven effort currently. Although we do have plans to rewrite the internals to TypeScript and thus export type definitions directly (see #152 for WIP or if you'd like to contribute)

[2021-04-21 13:19] AdsonCicilioti opened #175 "Track PageView"
Is possible track Pageviews?

I'm trying onLoad event but on production (vercel) the page static obfuscate new pagelods counts.

[2021-05-27 14:33] grunde opened #180 "Widen peer dependency range to include React 17"
[React 17](https://reactjs.org/blog/2020/10/20/react-v17.html) was released recently with minimal breaking changes.
Could the peer dependency on react be widened to something like:
`^16.8.0 || ^17`

[2021-07-15 21:41] #180 closed

[2021-07-23 21:15] tizmagik commented on #175
It should be possible assuming you have React runtime on the frontend and you're not just rendering to static markup. If you have an example repro I'd be happy to take a look.

[2021-08-06 06:46] basickarl opened #185 "Attempting to call `useTracking` without a ReactTrackingContext present"
Hello! Using a tracker within a functional component and this pops up. Any idea what this could refer to?

```Attempting to call 'useTracking' without a ReactTrackingContext present. Did you forget to wrap the top of your component tree with 'track'?```

[2021-08-10 13:13] BenLorantfy opened #186 "Provide a `mergeOptions` configuration to pass along to `deepmerge`"
Currently, it is impossible to track objects of type `Error` or objects that inherit from `Error`. This is because `deepmerge` treats `Error` as a mergeable object and creates a plain object with it.
See: https://www.npmjs.com/package/deepmerge#ismergeableobject
and: https://github.com/nytimes/react-tracking/blob/main/src/useTrackingImpl.js#L43

This means `Error` objects will be converted to plai

[2021-08-19 20:38] tizmagik commented on #185
Ah yep, sorry, the hook can't be used until there's at least a top-level wrapped component with `track()`:

[code]

We should make this more obvious in the docs. I'd also be open to a PR to update the behavior of the hook so that it establishes the top-level tracking context if it's not there already, if that's possible/desirable.

[2021-08-19 20:42] tizmagik commented on #186
Ah yeap, good callout, and this use case makes sense.

I wonder if instead of providing a flag to turn this behavior off if we should instead just accept a top-level `merge` property in the options object which can either be an object to pass in as [configuration to `deepmerge`](https://www.npmjs.com/package/deepmerge#options), or is the `merge()` function to use itself instead of deepmerge.

Thou

[2021-08-20 08:46] basickarl commented on #185
Thanks, that fixed the issue!

[2021-08-21 12:11] BenLorantfy commented on #186
@tizmagik That would work too.  I kind of like your 1st suggestion of passing these options to deepmerge.  This way consumers don't need to write or install their own merge function.  This would enable the `Error` usecase via the [`isMergeableObject`](https://www.npmjs.com/package/deepmerge#ismergeableobject) deepmerge config option.

If you're ok with this approach I could put a PR together

[2021-08-21 20:04] tizmagik commented on #186
Yea a PR for that would be great! Only thing I’m not sure about is if we should call it `merge` or `mergeOptions`?

[2021-08-21 20:13] tizmagik commented on #185
Glad to clarify! I’m actually going to reopen this issue so we can make it more obvious in the docs/update this behavior. Thanks again for opening the issue

[2021-08-21 20:14] tizmagik commented on #175
Closing for now. Feel free to reopen if you have a repro with some more context. Thanks!

[2021-08-21 20:14] #175 closed

[2021-08-24 00:48] BenLorantfy commented on #186
I kind of like `mergeOptions`.  Wouldn't want people to get confused and think `merge`  should be a function

[2021-09-14 14:45] jviray-aswf opened #189 "Options.process with useTracking not running as expected."
When using the useTracking Hook with an options.process set, it only seems to execute on initial page load. When switching between pages, the process function does not execute.

Example: https://codesandbox.io/s/keen-sutherland-dqt20

[2021-09-16 02:40] bgergen commented on #189
This actually is the expected behavior—the `process` function only fires on initial page load. The example `pageview` event in the docs doesn't really account for a single-page app; it fires in the `componentDidMount` phase of it's component's lifecycle, which only runs once. In your example, even though the "page" is changing via soft routing, the `process` function only runs when the `App` compo

[2021-09-21 03:09] tizmagik commented on #189
Thanks for the example code and opening an issue @jviray-aswf -- and thanks for taking a look @bgergen !

So after thinking about this for a bit, I think I would consider this a bug -- or at least a caveat worth documenting.

If you include a useEffect hook in `TrackablePage` you can see that it does mount and unmount, but react-tracking has an optimization in place to memoize and avoid re-renders

[2021-12-30 19:00] bgergen commented on #189
Just submitted a PR to add a note to the docs: https://github.com/nytimes/react-tracking/pull/192. I do think we should address this. It will probably involve breaking up [this useEffect block](https://github.com/nytimes/react-tracking/blob/main/src/useTrackingImpl.js#L58-L96) into two to differentiate the behavior based on whether `options.process` exists. I can play around with it a bit and see

[2022-02-09 12:07] pvinis commented on #138
something i did, https://github.com/artsy/eigen/blob/main/src/lib/AppProviders.tsx#L43-L51

[2022-03-09 08:28] Nuhasami opened #199 "Compare data before dispatching"
First of all, thank you for this really neat work!

Secondly, I simply want to make sure I don't send duplicates. I was thinking maybe I can check prevData and currentData before dispatching in useTracking. Is there a way to do that? I hope my question is clear, apologies if it's not. 😸

[2022-03-10 15:49] tizmagik commented on #199
Thanks for the kind words!

Hmm I don't think we have anything out of the box to do this but I think you should be able to push to some persistent array during your `dispatch()` call and then compare with the previously dispatched event. If it is a dupe you can just return early and not push to your dataLayer.

Happy to look at an example if you have a more concrete use case you'd like to discuss.

[2022-04-21 23:04] trescenzi commented on #172
Hi all. I ran into an issue where, in TS, I couldn't pass a function as the first argument to `useTracking` and then in turn use the return value of that function in `dispatch`. I opened a PR(linked above) and I believe that it's accurate. Not 100% but I've already made the changes in my project's `d.ts` file and everything is working as expected. Let me know if there's anymore information you'd l

[2022-05-01 21:14] trescenzi commented on #172
Just wanted to bump this. I've gotten approval from the definitivelytyped maintainers but will wait till the evening of 4/3, or someone here says otherwise, to merge it in case anyone from this repo has opinions on the change. I've got the changes locally running on a production site so I'm pretty certain it's safe, just want to make sure the owners of this repo don't have any issues with it.

[2022-05-02 18:48] tizmagik commented on #172
Those updates look good @trescenzi -- thanks so much for contributing. It's greatly apprecaited!

[2022-06-14 12:45] aldrakos opened #201 "React 18 peer dependency"
Hello and thanks for the awesome job on this library!

Wanted to ask if there are any plans to support React 18, even just by adding the peer dependency and not fully opting in the new React18 features.

[2022-06-14 14:10] tizmagik commented on #201
Sure yea, it should be fully compatible. PRs welcome!

[2022-06-14 15:48] aldrakos commented on #201
Thanks! Will look into that then!

[2022-06-14 15:48] #201 closed

[2022-07-18 09:59] piersolenski opened #202 "Avoid referencing unbound methods Typescript error"
When using `const { trackEvent } = useTracking();`, Typescript throws the following error:

```Avoid referencing unbound methods which may cause unintentional scoping of this. If your function does not access this, you can annotate it with this: void or consider using an arrow function instead.```

We're using the https://github.com/wesbos/eslint-config-wesbos config. It seems to happen when the f

[2022-08-10 17:27] tizmagik opened #204 "Pin node version"
For local dev, we should pin node version:

- Introduce `.nvmrc`
- Add [engines](https://docs.npmjs.com/cli/v6/configuring-npm/package-json#engines) field

[2022-08-15 12:50] glebpigulevsky commented on #204
@tizmagik I've opened pr

[2022-09-13 20:21] tizmagik commented on #202
Not sure what this lint rule is meant to catch? What would the suggested fix be?

[2022-09-14 03:22] tizmagik commented on #204
Closed in #205

[2022-09-14 03:22] #204 closed

[2022-10-17 03:28] tizmagik opened #211 "Add documentation for deepmerge `mergeOptions` ability"
Add documentation for `mergeOptions` feature added via https://github.com/nytimes/react-tracking/pull/187

[2022-10-17 17:00] #211 closed